version: '3'
services:
  postgres:
    image: postgres:9.6
    container_name: "postgres"
    networks:
      - backend
    environment:
      - POSTGRES_DB=backend
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - "./data/postgres:/var/lib/postgresql/data"
    ports:
      - "5432:5432"

  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: "rabbitmq"
    networks:
      - backend
    ports:
      - "5672:5672"
      - 15672:15672
    volumes:
      - ./data/rabbit:/var/lib/rabbitmq
    environment:
      - RABBITMQ_DEFAULT_USER=backendtest
      - RABBITMQ_DEFAULT_PASS=backendtest

  backend:
    build: .
    container_name: "backend"
    ports:
      - "8080:8080"
    networks:
      - backend
    environment:
      - BACKEND_DB_NAME=backend
      - BACKEND_USER=postgres
      - BACKEND_PASSWORD=postgres
      - BACKEND_DB_HOST=rabbitmq
      - BACKEND_DB_PORT=5432
      - BACKEND_DB_SCHEME=postgres
      - BACKEND_BROKER_HOST=broker
      - BACKEND_BROKER_PORT=5672
      - BACKEND_BROKER_USER=backendtest
      - BACKEND_BROKER_PASSWORD=backendtest
    depends_on:
      - postgres

networks:
  backend: